.participants {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.participant {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.active .propic {
    background: #ffd082;
}

img.propic {
    background: #ff7c7c;
    width: 60px;
    height: 60px;
    margin: 0;
    margin-right: 15px;
}

.name, .score {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
}

.line {
    flex-grow: 1;
    border-bottom: 5px dotted;
    margin: 0 15px;
}