.participants {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.participant {
    text-align: center;
}

.active .propic {
    background: #ffd082;
}

.propic {
    background: #ff7c7c;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}

.propic img {
    width: 100%;
}

.name {
    font-size: 10px;
    margin-top: 5px;
}